<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        ::placeholder {
          color: #99c4e1;
          opacity: 1;
        }
        </style>
    <title>Boolzapp</title>
    <!-- Link font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Link CSS-->
    <link rel="stylesheet" href="style.css">
    <!-- link Axios-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <!-- contenitore principale della web app -->
    <main id="app">
        <!-- contenitore della window dell'app -->
        <section id="window">
            <!-- sezione laterale dedicata alle chat  -->
            <section id="chat">
                <!-- profilo dell'utente -->
                <div class="bar-id">
                    <div class="bar-icon">
                        <i class="fa-solid fa-comment"></i>
                        <i class="fa-solid fa-icons"></i>
                        <i class="fa-solid fa-users-rectangle"></i>
                    </div>
                    <div class="user-attivo profile">
                        <div class="bar-icon">
                            <i class="fa-solid fa-gear"></i>
                        </div>
                        <div class="avatar-utente">
                            <img class="user-barra" v-for="user in userAccount" :src="user.avatarUser" alt="foto utente">
                        </div>
                    </div>
                </div>
                <div class="bot-cont">
                    <div class="sec-col">
                        <h2>Chat</h2>
                        <div>
                        <i class="fa-solid fa-plus"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- barra di ricerca contatti -->
                    <div id="cerca">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Cerca contatto..." v-model="cercaContatto">
                    </div>
                    <!-- impostazioni sulle notifiche -->
                    <div id="notifica">
                        <div id="not_bell">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div>
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <a href="#">Attiva le notifiche desktop</a>
                        </div>
                    </div>
                    <!-- lista dei contatti -->
                    <div id="contatti">
                        <div class="singolo-contatto" v-for="(contatto, index) in filteredContacts" @click="cambioChat(index)" :class="{ 'on-contact': selectedContact === index }">
                            <div class="profile-photo">
                                <img class="avatar" :src="contatto.avatar" alt="immagine profilo">
                            </div>
                            <div >
                                <div class="nome-contatto">{{contatto.name}}</div>
                                <div class="entry-time"> {{ getLastMessageText(contatto) }}</div>
                            </div>
                            <div >
                                <div class="mex-time"> {{ getLastMessageDate(contatto) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- sezione con la chat attiva -->
            <section id="live-chat">
                <header class="bar-id">
                    <div class="user-attivo">
                        <div class="avatar-utente">
                            <img  class="user-barra" :src="filteredContacts[showContact].avatar" alt="foto utente">
                        </div>
                        <div>
                            <div class="nome">{{filteredContacts[showContact].name}}</div>
                            <div class="entry-time"> Ultimo messaggio alle {{ getLastMessageDate(filteredContacts[showContact]) }}</div>
                        </div>
                    </div>
                    <div class="bar-icon">
                        <i class="fa-solid fa-video"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>
                <div class="mex-window">
                    <div class="background col"></div>
                    <div class="background"></div>
                    <!-- riquadro contenete le chat singole -->
                    <div class="singola-chat">
                        <div :class="message.status === 'sent' ? 'sent' : 'received'" v-for="message in filteredContacts[showContact].messages">
                            <div class="mex">{{ message.message }}</div>
                            <span class="mex-time">{{ formatDate(message.date) }}</span>
                        </div>
                    </div>
                    <!-- input di inserimento nuovo messaggio -->
                    <div class="typing-bar">
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="addMessage" >
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <!-- Link Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Link JS-->
    <script src="main.js"></script>

</body>
</html>