* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* stile generico dei container */

main, #background {
    width: 100vw;
    height: 100vh;
}

#background {
    position: fixed;
    z-index: -100;
}

#b-top {
    height: 100px;
    background-color: #009690;
}

#b-bottom {
    height: calc(100vh - 100px);
    background-color: #dcdbd3;
}

#window {
    width: 80%;
    min-height: 95%;
    background-color: #e9ebeb;
    z-index: 100;
    position: relative;
    top: 20px;
    left: calc(50% - 40%);
    display: flex;
}

/* STILE PER LA PARTE CENTRALE DELLA PAGINA */
/* SEZIONE LATERALE: CHAT */
#chat {
    width: 30%;
    min-height: 400px;
    background-color: #d6d6d6;
}

#live-chat {
    width: 70%;
    min-height: 400px;
    background-color: #e9ebeb;
}
