* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    border: solid black 0.01px;
}

/* stile generico dei container */

main, #background {
    width: 100vw;
    height: 100vh;
}

#background {
    position: fixed;
    z-index: -100;
}

#b-top {
    height: 150px;
    background-color: #009690;

}

#b-bottom {
    height: calc(100vh - 100px);
    background-color: #dcdbd3;
}

#window {
    width: 80vw;
    min-height: 95vh;
    background-color: #e9ebeb;
    z-index: 100;
    position: relative;
    top: 20px;
    left: calc(50% - 40%);
    display: flex;
}

/* STILE PER LA PARTE CENTRALE DELLA PAGINA */
/* contenitori window*/
#chat {
    width: 30%;   
    background-color: #d6d6d6;
}

#live-chat {
    width: 70%;
    height: 95vh;
    background-color: #5ea0a0;
}

/* testata con id utente e id contatto */

.bar-id {
    height: 70px;
    background-color: #eaeaea;
}

#notifica {
    height: 85px;
    background-color: #8edafc;
}
 
.mex-window {
    width: 100%;
    background-color: #009690;

}
.singola-chat {
    background-color: beige;
    height: calc(95vh - 60px - 70px);

}

.typing-bar {
    height: 60px;
    background-color: #e9ebeb;
}

.singolo-contatto {
    background-color: rebeccapurple;
}