* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* stile generico dei container */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #343236;
}

#window {
    width: 98vw;
    height: 96vh;
    margin: 0; 
    padding: 0; 
    display: flex;
    overflow: hidden; 
    border-radius: 5px;
}

/* STILE PER LA PARTE CENTRALE DELLA PAGINA */
/* contenitori window*/
#chat {
    width: 30%;   
    background-color: #d6d6d6;
    display: flex;
}

#live-chat {
    width: 70%;
}

#chat, #live-chat {
    height: 100%;
}

/* testata con id utente e id contatto */

.bar-id {
    height: 65px;
    background-color:#0e1326;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eaeff3;
}

#chat .bar-icon{
    padding-top: 30px;
}

#chat .bar-id {
    border-right: 1px solid #21366e;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.bot-cont{
    width: 85%;
}
 
i {
    color: #dbe3e7;
}

.bar-icon i {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.user-attivo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.profile {
    flex-direction: column;
}

.avatar-utente {
    width: 45px ;
}

.user-barra {
    width: 100% ;
}

.entry-time {
    font-size: 12px;
    margin-top: 3px;
}

/* side chat */
/* barra delle notifiche */

.sec-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14214b;
    color: #dbe3e7;
    padding: 25px 15px;
    font-size: 18px;
}

.sec-col i {
    padding-left: 20px;
}

#notifica {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    background-color: #14214b;;
    color: #dbe3e7;
}

#notifica a {
    font-size: 13px;
    color: #949ca0;
}

#not_bell {
    font-size: 20px;
    padding: 8px;
    background-color: #99c4e1;
    border-radius: 50px;
    margin-right: 15px;
}

.fa-bell-slash{
        color: #14214b;
        font-size: 18px;
}

/* barra di ricerca contatti */
#cerca {
    border: solid #14214b 6px ;
    background-color: #14214b;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 5px;
}

#cerca .fa-solid {
    color: #b1b1b1;
    padding: 5.5px 15px;
    font-size: 15px;
    background-color: #19295c;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: solid #0e1326 1px;
}

#cerca input {
    flex-grow: 1;
    padding: 5px 5px;
    border-style: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #19295c;
    color: #dbe3e7;
}

/* lista dei contatti */

#contatti {
    background-color: #0e1326;
    height: calc(98vh - 135px);
    overflow: auto;
    border-right: solid #21366e 0.1px;
    padding-bottom: 72px ;
}

.singolo-contatto {
    background-color: #14214b;
    display: flex;
    padding: 10px 15px ;
    position: relative;
    border-bottom: solid #263e81 0.1px;
    color: #eaeff3;
    display: flex;
    align-items: center;
}

.mex-time {
    border-style: none;
    background-color: transparent;
    font-size: 10px;
    color: #eaeff3;
    position: absolute;
    right: 15px;
}

.singolo-contatto:hover {
    background-image: url(img/light-purple-blurred-background-with-glow_1258-41341.jpg) ;
    background-size: cover;
    color: #0e1326;
    cursor: pointer;
}

.on-contact{
    background-image: url(img/light-purple-blurred-background-with-glow_1258-41341.jpg) ;
    background-size: cover;
    color: #0e1326;
}

.profile-photo {
    width: 60px;
    margin-right: 20px;
}

.profile-photo img {
    width: 100%;
}

.time-mex {
    position: absolute;
    right: 5px;
}

.time-mex input{
    border-style: none;
    background-color: transparent;
}

/* live chat section */

#live-chat .bar-icon {
    display: flex;
    align-items: center;
    gap: 35px;
    padding-right: 20px;
}

#live-chat .user-attivo {
gap: 15px;
padding-left: 15px;
}

#live-chat i {
margin-bottom: 0;
}

#live-chat .fa-video  {
    padding: 8px 16px;
    border: solid #19295c 1px;
    border-radius: 25px;
}

.singola-chat {
    height: calc(96vh - 125px);
    background-size: cover;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 70px;
    gap: 15px;
}
.singola-chat .mex-time{
    color: #0e1326;
}

.mex-window{
    position: relative;
}
.background {
    background-image: url('img/68747470733a2f2f7765622e77686174736170702e636f6d2f696d672f62672d636861742d74696c652d6461726b5f61346265353132653731393562366237333364393131306234303866303735642e706e67.png');
    height: calc(96vh - 125px);
    position: absolute;
    width: 100%;
    filter: opacity(15%);
}

.col {
    background-image:radial-gradient(#8d7599, #14214b);
    filter: opacity(100%);

}

.typing-bar {
    height: 60px;
    background-color: #0e1326;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 20px;
    font-size: 20px;
    color: #ffff;
}

.typing-bar input {
    width: 85%;
    height: 65%;
    border-style: none;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 5px;
}

.sent, .received, .to-asign {
    padding: 10px 10px 15px;
    border-radius: 10px;
    width: 40%;
    position: relative;
    font-size: 14px;
}

.nascondi {
    display: none;
}

.sent {
    background-color: #f09dce;
    border-color: #263e81;
    align-self: flex-end;
}

.received {
    background-color: #aeb6fc;
    align-items: flex-start;
}

.mex  {
    display: flex;
    align-items: center;
    color: #0e1326;
}